header{background-color: rgba(77, 6, 209, 0.881);color:rgb(218, 235, 217);text-align: center;}
main{background-color: lightgray; }
body {
    background-image: url("record.png");
    background-color: #cccccc;
    margin:0%;
    padding: 1em;
   } 